In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/jeremyhudsonchan/Dropbox/Files/Github_Repos/Twitter-Sentiment-Analysis/data/source/training.1600000.processed.noemoticon.csv", encoding = "latin-1", low_memory=False)

In [3]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
# rename columns
df.columns = ['target', 'ids', 'date', 'Query', 'user', 'text']

In [5]:
# move id column to the most left, move target to the most right
cols = df.columns.tolist()
# cols = cols[1] + cols[2] + cols[4] + cols[5] + cols[0]
cols = cols[1:2] + cols[2:3] + cols[4:5] + cols[5:6] + cols[0:1]
df = df[cols]

In [6]:
df.head()

,ids,date,user,text,target
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,0
1,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,0
2,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,0
3,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",0
4,1467811372,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew,0

In [7]:
# drop nan rows
df = df.dropna()

In [8]:
# randomly sample 25000 rows with target == 0, and 25000 rows with target == 4
neg_df = df[df.target == 0].sample(n=25000, random_state=5)
pos_df = df[df.target == 4].sample(n=25000, random_state=5)

In [9]:
# combine neg_df and pos_df
use_df = pd.concat([neg_df, pos_df], axis=0)

In [10]:
pd.unique(use_df.target)

array([0, 4])

In [12]:
# print number of 0s and 4s
print("Number of 0s: ", len(use_df[use_df.target == 0]))
print("Number of 4s: ", len(use_df[use_df.target == 4]))

Number of 0s:  25000
Number of 4s:  25000

In [13]:
# make df to csv
use_df.to_csv("/Users/jeremyhudsonchan/Dropbox/Files/Github_Repos/Twitter-Sentiment-Analysis/data/sampled/training.1600000.processed.noemoticon.csv", index=False)